<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

    <title>Doctor Dashboard</title>
</head>
<header>
    <div class="topnav">
        
        <a href="{{ url_for('index') }}">Logout</a>
        <h1>ETHICURE MEDICAL HOSPITAL</h1>
      </div>
    
</header>
<body>
    <ul>

        <li><a href="{{ url_for('viewonly_doctors') }}">View Doctors</a></li>
        <li><a href="{{ url_for('viewonly_patient') }}">View Patients</a></li>
        <li><a href="{{ url_for('viewonly_staff') }}">View staff</a></li>

        


    </ul>
</body>
</html>