<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>Home Page</title>
</head>

<body>
    <div>
        <h1>ETHICURE MEDICAL HOSPITAL</h1>
        <h2>"Empowering Healthcare, Streamlining Management"</h2>
        
        <!-- Form wrapping the login button -->
        <form action="{{ url_for('index') }}" method="get">
            <button type="submit">Login</button>
        </form>
        
    </div>
</body>
</html>
