<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>Patient List- Ethicure Medical Hospital</title>
</head>
<header>
    <div class="topnav">
        
        <a href="{{ url_for('index') }}">Logout</a>
        <a href="javascript:history.back()">Go Back</a>

        <h1>ETHICURE MEDICAL HOSPITAL</h1>
      </div>
    
</header>
<body>
    <h2>Patient List</h2>
    <table>
        <tr>
            <th>Patient ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Diseases</th>
            <th>Phone</th>
            <th>doctor id</th>
            <th>doctor name</th>
            <th>Actions</th>
        </tr>
        {% for patient in patients %}
        <tr>
            <td>{{ patient[0] }}</td>
            <td>{{ patient[1] }}</td>
            <td>{{ patient[2] }}</td>
            <td>{{ patient[3] }}</td>
            <td>{{ patient[4] }}</td>
            <td>{{ patient[5] }}</td>
            <td>{{ patient[6] }}</td>


            <td>
                <form action="{{ url_for('delete_patient', patient_id=patient[0]) }}" method="POST" >
                    <button type="submit" onclick="return confirm('Are you sure you want to delete this patient?');">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>
